[submodule "pythtb"]
	path = external/pythtb
	url = git@github.com:JLU-ICCMS-MaYuan/pythtb.git
[submodule "DeePTB"]
	path = external/DeePTB
	url = git@github.com:JLU-ICCMS-MaYuan/DeePTB.git
[submodule "dftio"]
	path = external/dftio
	url = git@github.com:JLU-ICCMS-MaYuan/dftio.git
[submodule "HamEPC"]
	path = external/HamEPC
	url = https://github.com/QuantumLab-ZY/HamEPC.git
